global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'validator-monitor'
    static_configs:
      - targets: ['validator-monitor:9090']
    metrics_path: '/metrics'
